<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>


    
    <div class="split-container">

        <!-- ФОН НА ВЕСЬ ЭКРАН -->
        <div class="background-layer"></div>

        <!-- ЛОГО СЛЕВА -->
        <div class="logo-wrapper">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Логотип">
        </div>

        <!-- ПРАВАЯ ЧАСТЬ (ФОРМА) -->
        <div class="right-panel">
            <div class="register-card">
                
                <h1>Sing in</h1>
                <div class="register-sub">New user?
                    <a href="{{ url_for('register_page') }}">Create an account</a>
                </div>

                <form id="loginForm">
                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" id="username" placeholder="Ana Maria" required>
                    </div>

                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" id="password" placeholder="Enter your password" required>
                    </div>

                    <button type="submit" class="register-btn">Log in</button>

                    <div id="formMessage" class="message"></div>
                </form>


            </div>
        </div>

    </div>

    <script>
    document.getElementById('loginForm').addEventListener('submit', async function(e) {
        e.preventDefault();

        const username = document.getElementById('username').value.trim();
        const password = document.getElementById('password').value.trim();
        const formMessage = document.getElementById('formMessage');

        formMessage.textContent = '';

        if (!username || !password) {
            formMessage.textContent = 'Please fill in all fields';
            return;
        }

        try {
            const res = await fetch('/api/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    username: username,
                    password: password
                })
            });

            const data = await res.json();

            if (res.ok) {
                formMessage.textContent = 'Login successful';
                window.location.href = "/contacts";
            } else {
                formMessage.textContent = data.erro || 'Login error';
            }
        } catch (err) {
            console.error(err);
            formMessage.textContent = 'Connection error';
        }
    });
    </script>

</body>
</html>